<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h3>koa ejs</h3>
    <ul>
      <% users.forEach(function(user) { %>
        <li><%= user.id %>.<%= user.name %></li>
      <% }); %>
    </ul>
  </body>
</html>